table{
  text-align: left;
  color: purple;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid rebeccapurple;
  padding: 10px;
  min-height: 160px;

}

img {
  width: 100px;
  height: 100px;
}
